.body {
  background: linear-gradient(90deg, hsla(128, 100%, 72%, 1) 0%, hsla(181, 96%, 53%, 1) 100%);
}

.card {
  text-align: center;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card h1 {
  font-weight: 20px;
  color: #fff;
}
